* {
    font-family: Noto Sans CJK JP;
    font-size: 18px;
}

window {
    margin: 5px;
    border: 2px solid #89b4fa;
    border-radius: 12px;
    background-color: #1e1e2e;
}

#input {
    margin: 5px;
    border-radius: 8px;
    border: 1px solid #313244;
    background-color: #181825;
    color: #cdd6f4;
}

#inner-box {
    margin: 5px;
    background-color: #1e1e2e;
}

#outer-box {
    margin: 5px;
    padding: 20px;
    background-color: #1e1e2e;
}

#scroll {
}

#text {
    margin: 7px;
    color: #cdd6f4;
}

#entry:selected {
    background-color: #313244;
    border-radius: 6px;
}

#text:selected {
    color: #89b4fa;
}
